* {
  font-family: "Noto Sans KR", sans-serif;
  font-family: "Song Myung", serif;
}
.mytitle {
  color: white;
  width: 300px;
  height: 200px;
  /* 이미지 정위치 할 수 있도록 */
  background-image: url("https://www.ancient-origins.net/sites/default/files/field/image/Agesilaus-II-cover.jpg");
  background-position: center;
  background-size: cover;

  border-radius: 10px;
  text-align: center;
  padding-top: 40px;
}

.wrap {
  margin: 10px auto;
  width: 300px;
}
